CompileFlags:
  CompilationDatabase: build
  Remove: 
    - -m*
    - -fno-tree-sink
    - -mlongcalls
    - -fstrict-volatile-bitfields
  Add: 
    - --target=xtensa-esp32-elf
    - -I${ESP_IDF_PATH}/components/newlib/platform_include